@charset "UTF-8";
/* line 15, ../sass/_base-variable.scss */
.block-info-list ul, .block-info-list ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 修正粗體 */
@font-face {
  font-family: '微軟正黑體修正';
  unicode-range: U+7db0, U+78A7, U+7B75;
  /* ASCII (碧筵綰) */
  font-style: normal;
  font-weight: bold;
  src: local(Yu Gothic), local(MS Gothic);
}
/* 一般粗細的時候改回微軟正黑 */
@font-face {
  font-family: '微軟正黑體修正';
  unicode-range: U+7db0, U+78A7, U+7B75;
  /* ASCII (碧筵綰) */
  font-style: normal;
  font-weight: normal;
  src: local(微軟正黑體);
}
/* line 2, ../sass/_base-ui.scss */
body {
  font-family: Arial, "微軟正黑體修正", "微軟正黑體", "Helvetica Neue", Helvetica, sans-serif, "新細明體";
  background-color: #0d1a51;
  background: linear-gradient(-90deg, #1e1e1e 0%, #2d2d2d 12%);
  background: -moz-linear-gradient(-90deg, #1e1e1e 0%, #2d2d2d 12%);
  background: -webkit-linear-gradient(-90deg, #1e1e1e 0%, #2d2d2d 12%);
  background: -o-linear-gradient(-90deg, #1e1e1e 0%, #2d2d2d 12%);
}

/* line 11, ../sass/_base-ui.scss */
.base-wrapper {
  min-height: 100vh;
  position: relative;
}

/* line 15, ../sass/_base-ui.scss */
.base-header {
  margin: 0 25px;
}

/* line 18, ../sass/_base-ui.scss */
.base-content {
  margin: 0 25px;
  padding-bottom: 20px;
}

/* line 22, ../sass/_base-ui.scss */
.base-footer {
  position: absolute;
  bottom: 12px;
}
/* line 26, ../sass/_base-ui.scss */
.base-footer .copyright b {
  color: #fff;
  opacity: .95;
  font-weight: normal;
  margin-left: 40px;
  font-size: 1em;
  line-height: 1.6em;
}

/* line 37, ../sass/_base-ui.scss */
.base-header-wrapper {
  background-color: transparent;
  border-color: transparent;
  border-radius: initial;
  margin-bottom: 0px;
}
/* line 43, ../sass/_base-ui.scss */
.base-header-wrapper .major-logo .navbar-brand {
  padding: 0;
  margin: 0;
  height: 87px;
  box-sizing: border-box;
}
/* line 48, ../sass/_base-ui.scss */
.base-header-wrapper .major-logo .navbar-brand .img-logo {
  display: block;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  height: 87px;
  float: left;
}
/* line 55, ../sass/_base-ui.scss */
.base-header-wrapper .major-logo .navbar-brand .img-logo img {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* line 62, ../sass/_base-ui.scss */
.base-header-wrapper .major-logo .navbar-brand h1 {
  display: block;
  margin: 0;
  padding: 0;
  height: 87px;
  float: left;
  box-sizing: border-box;
  color: #fff;
  font-size: 2.2em;
  line-height: 87px;
  font-weight: lighter;
}
/* line 77, ../sass/_base-ui.scss */
.base-header-wrapper .default-msg-tool {
  position: absolute;
  right: 0;
}
/* line 80, ../sass/_base-ui.scss */
.base-header-wrapper .default-msg-tool .clock {
  color: #fff;
  font-size: 2.2em;
  line-height: 87px;
  font-family: "Open Sans", sans-serif;
}
/* line 85, ../sass/_base-ui.scss */
.base-header-wrapper .default-msg-tool .clock .date {
  display: inline-block;
}
/* line 89, ../sass/_base-ui.scss */
.base-header-wrapper .default-msg-tool .clock .time {
  display: inline-block;
}
/* line 93, ../sass/_base-ui.scss */
.base-header-wrapper .default-msg-tool .login {
  margin-top: 20px;
  margin-right: 12px;
  margin-left: 20px;
}
/* line 97, ../sass/_base-ui.scss */
.base-header-wrapper .default-msg-tool .login .btn-login {
  border-radius: 5px;
  display: block;
  width: 110px;
  height: 48px;
  box-sizing: border-box;
  font-size: 1.4em;
  letter-spacing: 2px;
  color: orange;
  border: orange solid thin;
  padding-left: 30px;
  padding-right: 0;
  position: relative;
  background-color: #322b27;
}
/* line 111, ../sass/_base-ui.scss */
.base-header-wrapper .default-msg-tool .login .btn-login:before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 12px;
  left: 15px;
  background-image: url("../images/icon/login.png");
  background-size: cover;
}
/* line 122, ../sass/_base-ui.scss */
.base-header-wrapper .default-msg-tool .login .btn-login:focus, .base-header-wrapper .default-msg-tool .login .btn-login:hover {
  background-color: #665c56;
  color: #ffed8a;
  border-color: #ffed8a;
}

/* line 135, ../sass/_base-ui.scss */
.base-content-wrapper section .block-info {
  position: relative;
  width: 100%;
  background-color: #182359;
  background-repeat: repeat;
  border: orange solid thin;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
/* line 146, ../sass/_base-ui.scss */
.base-content-wrapper section .block-info:before {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border: orange solid thin;
  border-radius: 4px;
  background-image: url("../images/bg/block_bg.gif");
}
/* line 157, ../sass/_base-ui.scss */
.base-content-wrapper section .block-info:after {
  display: none;
  width: 125px;
  height: 38px;
  line-height: 38px;
  color: orange;
  font-size: 1.3em;
  position: absolute;
  top: -3px;
  right: -2px;
  background-image: url("../images/bg/btn-more.png");
  background-size: cover;
  background-position: top right;
  border-radius: 5px;
  border: #192a8a solid thin;
}
/* line 174, ../sass/_base-ui.scss */
.base-content-wrapper section .block-info:focus, .base-content-wrapper section .block-info:hover {
  border: #ffed8a solid thin;
}
/* line 177, ../sass/_base-ui.scss */
.base-content-wrapper section .block-info:focus:before, .base-content-wrapper section .block-info:hover:before {
  content: "";
  border: #ffed8a solid thin;
  background-image: url("../images/bg/block_bg_hover.gif");
}
/* line 184, ../sass/_base-ui.scss */
.base-content-wrapper section .block-info:focus .block-info-list ul li:not(.operation), .base-content-wrapper section .block-info:hover .block-info-list ul li:not(.operation) {
  background-color: #161616;
  border: #ffed8a solid thin;
}
/* line 187, ../sass/_base-ui.scss */
.base-content-wrapper section .block-info:focus .block-info-list ul li:not(.operation) b, .base-content-wrapper section .block-info:hover .block-info-list ul li:not(.operation) b {
  border-color: rgba(255, 237, 138, 0.2);
}
/* line 191, ../sass/_base-ui.scss */
.base-content-wrapper section .block-info:focus .block-info-list ul li.operation, .base-content-wrapper section .block-info:hover .block-info-list ul li.operation {
  background-color: transparent;
  border: 0;
}
/* line 199, ../sass/_base-ui.scss */
.base-content-wrapper section .block-info:focus .block-info-title h2:before, .base-content-wrapper section .block-info:hover .block-info-title h2:before {
  background-image: url("../images/icon/title_icon_hover.png");
}
/* line 207, ../sass/_base-ui.scss */
.base-content-wrapper section .block-info .block-info-title {
  display: block;
  height: 76px;
  text-align: left;
  position: relative;
  line-height: 50px;
  padding-left: 10px;
}
/* line 214, ../sass/_base-ui.scss */
.base-content-wrapper section .block-info .block-info-title h2 {
  font-size: 1.6em;
  padding-left: 18px;
  margin-top: 10px;
  margin-bottom: 0px;
  position: absolute;
  top: 0;
  z-index: 10;
}
/* line 222, ../sass/_base-ui.scss */
.base-content-wrapper section .block-info .block-info-title h2:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 19px;
  top: 2px;
  left: -5px;
  background-size: cover;
  background-image: url("../images/icon/title_icon.png");
}
/* line 234, ../sass/_base-ui.scss */
.base-content-wrapper section .block-info .block-info-title:before {
  content: "";
  position: absolute;
  width: 39px;
  height: 39px;
  top: -2px;
  left: -8px;
  background-image: url("../images/bg/block_bg_lt.png");
}
/* line 243, ../sass/_base-ui.scss */
.base-content-wrapper section .block-info .block-info-title:after {
  content: "";
  position: absolute;
  width: 90px;
  height: 50px;
  top: -2px;
  right: -8px;
  background-image: url("../images/bg/block_bg_title.png");
}
@media screen and (max-width: 1560px) and (min-width: 992px) {
  /* line 255, ../sass/_base-ui.scss */
  .base-content-wrapper section.base-content-list {
    width: 25%;
  }
}
@media screen and (max-width: 1560px) and (min-width: 992px) {
  /* line 260, ../sass/_base-ui.scss */
  .base-content-wrapper section.base-content-map {
    width: 50%;
  }
}

/* line 270, ../sass/_base-ui.scss */
.block-info-list {
  margin: 0;
  padding: 0;
  margin-top: -38px;
}
/* line 274, ../sass/_base-ui.scss */
.block-info-list ul {
  position: relative;
  padding: 5px 0 10px 0;
}
/* line 278, ../sass/_base-ui.scss */
.block-info-list ul:before {
  content: "";
  position: absolute;
  width: 39px;
  height: 39px;
  bottom: -3px;
  left: -8px;
  background-image: url("../images/bg/block_bg_lb.png");
}
/* line 287, ../sass/_base-ui.scss */
.block-info-list ul:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 36px;
  bottom: -3px;
  right: -8px;
  background-image: url("../images/bg/block_bg_rb.png");
}
/* line 296, ../sass/_base-ui.scss */
.block-info-list ul li {
  color: #fff;
  background-color: rgba(50, 50, 50, 0.5);
  border: orange solid thin;
  padding: 0px;
  margin: -1px 5px;
  width: calc(100% - 10px);
  display: inline-block;
  box-sizing: border-box;
  float: left;
  text-align: right;
  position: relative;
}
/* line 311, ../sass/_base-ui.scss */
.block-info-list ul li::after {
  content: "";
  z-index: 1;
  display: block;
  height: 40px;
  width: 100%;
  bottom: 0px;
  background-color: rgba(9, 13, 33, 0.5);
  border-radius: 0 0 5px 5px;
}
/* line 323, ../sass/_base-ui.scss */
.block-info-list ul li b {
  border-bottom: #191611 solid 2px;
  height: 30px;
  display: block;
  line-height: 30px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 10px;
  position: relative;
  font-size: 1.2em;
  font-weight: normal;
}
/* line 335, ../sass/_base-ui.scss */
.block-info-list ul li b::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0px;
  border-bottom: #5e4420 solid thin;
}
/* line 345, ../sass/_base-ui.scss */
.block-info-list ul li span {
  font-family: "Open Sans", sans-serif;
  line-height: 36px;
  font-size: 2em;
  font-weight: bold;
  padding-right: 10px;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 4px;
  color: #ffb858;
}
/* line 357, ../sass/_base-ui.scss */
.block-info-list ul li:nth-child(1) {
  border-radius: 5px 5px 0 0;
}
/* line 359, ../sass/_base-ui.scss */
.block-info-list ul li:nth-child(1) span {
  color: #ffb858;
}
/* line 360, ../sass/_base-ui.scss */
.block-info-list ul li:nth-child(2) span {
  color: #87eefc;
}
/* line 361, ../sass/_base-ui.scss */
.block-info-list ul li:nth-child(3) span {
  color: #ff6fe1;
}
/* line 362, ../sass/_base-ui.scss */
.block-info-list ul li:nth-child(4) span {
  color: #36ef32;
}
/* line 363, ../sass/_base-ui.scss */
.block-info-list ul li:nth-child(5) span {
  color: #bc85ff;
}
/* line 364, ../sass/_base-ui.scss */
.block-info-list ul li:nth-child(6) span {
  color: #ffb858;
}
/* line 365, ../sass/_base-ui.scss */
.block-info-list ul li:nth-last-child(2) {
  border-radius: 0 0 5px 5px;
}
/* line 368, ../sass/_base-ui.scss */
.block-info-list ul li i {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  padding: 5px 8px;
  border: #717171 solid thin;
  border-radius: 5px;
  font-size: 0.4em;
  vertical-align: bottom;
  color: #D8D8D8;
}
/* line 379, ../sass/_base-ui.scss */
.block-info-list ul li.operation {
  position: absolute;
  right: -20px;
  background-color: transparent;
  border: 0;
  top: -44px;
  border-bottom: 0;
}
/* line 386, ../sass/_base-ui.scss */
.block-info-list ul li.operation::after {
  display: none;
}
/* line 389, ../sass/_base-ui.scss */
.block-info-list ul li.operation b {
  border-bottom: 0;
  font-size: 0.8em;
  display: inherit;
  opacity: 0.8;
  line-height: 2em;
  height: auto;
}
/* line 396, ../sass/_base-ui.scss */
.block-info-list ul li.operation b::after {
  display: none;
}
/* line 400, ../sass/_base-ui.scss */
.block-info-list ul li.operation span {
  font-size: 1.1em;
  display: block;
  position: relative;
  line-height: 1em;
  width: auto;
  display: inline-block;
  padding-left: 12px;
}
/* line 408, ../sass/_base-ui.scss */
.block-info-list ul li.operation span::before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #36ef32;
  left: 0px;
  top: 2px;
}
/* line 419, ../sass/_base-ui.scss */
.block-info-list ul li.operation span.good {
  color: #36ef32;
}
/* line 421, ../sass/_base-ui.scss */
.block-info-list ul li.operation span.good::before {
  background-color: #36ef32;
}
/* line 425, ../sass/_base-ui.scss */
.block-info-list ul li.operation span.bad {
  color: #ff4646;
}
/* line 427, ../sass/_base-ui.scss */
.block-info-list ul li.operation span.bad::before {
  background-color: #ff4646;
}
/* line 431, ../sass/_base-ui.scss */
.block-info-list ul li.operation span.stop {
  color: #b3b3b3;
}
/* line 433, ../sass/_base-ui.scss */
.block-info-list ul li.operation span.stop::before {
  background-color: #b3b3b3;
}

/* line 444, ../sass/_base-ui.scss */
#map {
  height: calc(100vh - 138px);
  min-height: calc(100vh - 138px);
  border-radius: 5px;
  border: orange solid thin;
  position: relative;
}

/* line 453, ../sass/_base-ui.scss */
.marker-cluster-small div {
  background-color: #000;
  color: #fff;
}
