html, body{
    width: 100%;
    height: 100%;
}
.black{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2b2b2b+76,1c1c1c+91,000000+99,000000+99,2c2c2c+100,131313+100 */
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2b2b2b 76%, #1c1c1c 91%, #000000 99%, #000000 99%, #2c2c2c 100%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2b2b2b 76%,#1c1c1c 91%,#000000 99%,#000000 99%,#2c2c2c 100%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2b2b2b 76%,#1c1c1c 91%,#000000 99%,#000000 99%,#2c2c2c 100%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.tsc-btn {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    color: white;
    border: 2px solid #555555;
}

.tsc-btn:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+9,596a72+61,596a72+65,596a72+76,596a72+76,596a72+78,596a72+89,596a72+93,596a72+93,596a72+96 */
    background: #cedce7; /* Old browsers */
    background: -moz-linear-gradient(top, #cedce7 9%, #596a72 61%, #596a72 65%, #596a72 76%, #596a72 76%, #596a72 78%, #596a72 89%, #596a72 93%, #596a72 93%, #596a72 96%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cedce7 9%,#596a72 61%,#596a72 65%,#596a72 76%,#596a72 76%,#596a72 78%,#596a72 89%,#596a72 93%,#596a72 93%,#596a72 96%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cedce7 9%,#596a72 61%,#596a72 65%,#596a72 76%,#596a72 76%,#596a72 78%,#596a72 89%,#596a72 93%,#596a72 93%,#596a72 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
    color: black;
}